*{
    box-sizing: border-box;
    font-family: sans-serif;
    font-size: 16px;
    margin: 0;
    padding: 0;
}

h1{
    font-size: 4rem;
    width: 50%;
    margin: auto;
    text-align: center;
}

img{
    width: 500px;
}